<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HarfBuzz Manual: HarfBuzz Manual</title>
<meta name="generator" content="DocBook XSL Stylesheets V1.79.1">
<meta name="description" content="HarfBuzz  HarfBuzz is a text shaping library. Using the HarfBuzz library allows programs to convert a sequence of Unicode input into properly formatted and positioned glyph output—for any writing system and language. The canonical source-code tree is available at github.com/harfbuzz/harfbuzz. See for release tarballs.">
<link rel="home" href="index.html" title="HarfBuzz Manual">
<link rel="next" href="user-manual.html" title="Part I. User's manual">
<meta name="generator" content="GTK-Doc V1.32 (XML mode)">
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body bgcolor="white" text="black" link="#0000FF" vlink="#840084" alink="#0000FF">
<div class="book">
<div class="titlepage">
<div>
<div><table class="navigation" id="top" width="100%" cellpadding="2" cellspacing="0"><tr><th valign="middle"><p class="title">HarfBuzz Manual</p></th></tr></table></div>
<div><div class="abstract">
<p class="title"><b>HarfBuzz</b></p>
<div align="center"><img src="HarfBuzz.png" align="middle"></div>
<p>
        HarfBuzz is a text shaping library. Using the HarfBuzz library allows
	programs to convert a sequence of Unicode input into
	properly formatted and positioned glyph output—for any writing
	system and language.
      </p>
<p>
	The canonical source-code tree is available at
        <a class="ulink" href="https://github.com/harfbuzz/harfbuzz" target="_top">github.com/harfbuzz/harfbuzz</a>.
	See <a class="xref" href="install-harfbuzz.html#download" title="Downloading HarfBuzz">Downloading HarfBuzz</a> for
	release tarballs.
      </p>
</div></div>
</div>
<hr>
</div>
<div class="toc"><dl class="toc">
<dt><span class="part"><a href="user-manual.html">I. User's manual</a></span></dt>
<dd><dl>
<dt><span class="chapter"><a href="what-is-harfbuzz.html">What is HarfBuzz?</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="what-is-harfbuzz.html#what-is-text-shaping">What is text shaping?</a></span></dt>
<dt><span class="section"><a href="why-do-i-need-a-shaping-engine.html">Why do I need a shaping engine?</a></span></dt>
<dt><span class="section"><a href="what-does-harfbuzz-do.html">What does HarfBuzz do?</a></span></dt>
<dt><span class="section"><a href="what-harfbuzz-doesnt-do.html">What HarfBuzz doesn't do</a></span></dt>
<dt><span class="section"><a href="why-is-it-called-harfbuzz.html">Why is it called HarfBuzz?</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="install-harfbuzz.html">Installing HarfBuzz</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="install-harfbuzz.html#download">Downloading HarfBuzz</a></span></dt>
<dt><span class="section"><a href="building.html">Building HarfBuzz</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="building.html#building.linux">Building on Linux</a></span></dt>
<dt><span class="section"><a href="building.html#building.windows">Building on Windows</a></span></dt>
<dt><span class="section"><a href="building.html#building.macos">Building on macOS</a></span></dt>
<dt><span class="section"><a href="building.html#configuration">Configuration options</a></span></dt>
</dl></dd>
</dl></dd>
<dt><span class="chapter"><a href="getting-started.html">Getting started with HarfBuzz</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="getting-started.html#an-overview-of-the-harfbuzz-shaping-api">An overview of the HarfBuzz shaping API</a></span></dt>
<dt><span class="section"><a href="terminology.html">Terminology</a></span></dt>
<dt><span class="section"><a href="a-simple-shaping-example.html">A simple shaping example</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="shaping-concepts.html">Shaping concepts</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="shaping-concepts.html#text-shaping-concepts">Text shaping</a></span></dt>
<dt><span class="section"><a href="script-specific-shaping.html">Script-specific shaping</a></span></dt>
<dt><span class="section"><a href="shaping-operations.html">Shaping operations</a></span></dt>
<dt><span class="section"><a href="unicode-character-categories.html">Unicode character categories</a></span></dt>
<dt><span class="section"><a href="text-runs.html">Text runs</a></span></dt>
<dt><span class="section"><a href="opentype-shaping-models.html">OpenType shaping models</a></span></dt>
<dt><span class="section"><a href="graphite-shaping.html">Graphite shaping</a></span></dt>
<dt><span class="section"><a href="aat-shaping.html">AAT shaping</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="object-model.html">The HarfBuzz object model</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="object-model.html#object-model-intro">An overview of data types in HarfBuzz</a></span></dt>
<dt><span class="section"><a href="object-model-object-types.html">Objects in HarfBuzz</a></span></dt>
<dt><span class="section"><a href="object-model-lifecycle.html">Object lifecycle management</a></span></dt>
<dt><span class="section"><a href="object-model-user-data.html">User data</a></span></dt>
<dt><span class="section"><a href="object-model-blobs.html">Blobs</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="buffers-language-script-and-direction.html">Buffers, language, script and direction</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="buffers-language-script-and-direction.html#creating-and-destroying-buffers">Creating and destroying buffers</a></span></dt>
<dt><span class="section"><a href="adding-text-to-the-buffer.html">Adding text to the buffer</a></span></dt>
<dt><span class="section"><a href="setting-buffer-properties.html">Setting buffer properties</a></span></dt>
<dt><span class="section"><a href="customizing-unicode-functions.html">Customizing Unicode functions</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="fonts-and-faces.html">Fonts, faces, and output</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="fonts-and-faces.html#fonts-and-faces-objects">Font and face objects</a></span></dt>
<dt><span class="section"><a href="fonts-and-faces-custom-functions.html">Customizing font functions</a></span></dt>
<dt><span class="section"><a href="fonts-and-faces-native-opentype.html">Font objects and HarfBuzz's native OpenType implementation</a></span></dt>
<dt><span class="section"><a href="fonts-and-faces-variable.html">Working with OpenType Variable Fonts</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="shaping-and-shape-plans.html">Shaping and shape plans</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="shaping-and-shape-plans.html#shaping-buffer-output">Shaping and buffer output</a></span></dt>
<dt><span class="section"><a href="shaping-opentype-features.html">OpenType features</a></span></dt>
<dt><span class="section"><a href="shaping-shaper-selection.html">Shaper selection</a></span></dt>
<dt><span class="section"><a href="shaping-plans-and-caching.html">Plans and caching</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="clusters.html">Clusters</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="clusters.html#clusters-and-shaping">Clusters and shaping</a></span></dt>
<dt><span class="section"><a href="working-with-harfbuzz-clusters.html">Working with HarfBuzz clusters</a></span></dt>
<dt><span class="section"><a href="a-clustering-example-for-levels-0-and-1.html">A clustering example for levels 0 and 1</a></span></dt>
<dt><span class="section"><a href="reordering-in-levels-0-and-1.html">Reordering in levels 0 and 1</a></span></dt>
<dt><span class="section"><a href="the-distinction-between-levels-0-and-1.html">The distinction between levels 0 and 1</a></span></dt>
<dt><span class="section"><a href="level-2.html">Level 2</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="level-2.html#ligatures-with-combining-marks-in-level-2">Ligatures with combining marks in level 2</a></span></dt>
<dt><span class="section"><a href="level-2.html#reordering-in-level-2">Reordering in level 2</a></span></dt>
<dt><span class="section"><a href="level-2.html#other-considerations-in-level-2">Other considerations in level 2</a></span></dt>
</dl></dd>
</dl></dd>
<dt><span class="chapter"><a href="utilities.html">Utilities</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="utilities.html#utilities-command-line-tools">Command-line tools</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="utilities.html#utilities-command-line-hbshape">hb-shape</a></span></dt>
<dt><span class="section"><a href="utilities.html#utilities-command-line-hbview">hb-view</a></span></dt>
<dt><span class="section"><a href="utilities.html#utilities-command-line-hbsubset">hb-subset</a></span></dt>
</dl></dd>
<dt><span class="section"><a href="utilities-common-types-apis.html">Common data types and APIs</a></span></dt>
</dl></dd>
<dt><span class="chapter"><a href="integration.html">Platform Integration Guide</a></span></dt>
<dd><dl>
<dt><span class="section"><a href="integration.html#integration-glib">GNOME integration, GLib, and GObject</a></span></dt>
<dt><span class="section"><a href="integration-freetype.html">FreeType integration</a></span></dt>
<dt><span class="section"><a href="integration-uniscribe.html">Uniscribe integration</a></span></dt>
<dt><span class="section"><a href="integration-coretext.html">Core Text integration</a></span></dt>
<dt><span class="section"><a href="integration-icu.html">ICU integration</a></span></dt>
<dt><span class="section"><a href="integration-python.html">Python bindings</a></span></dt>
</dl></dd>
</dl></dd>
<dt><span class="part"><a href="reference-manual.html">II. Reference manual</a></span></dt>
<dd><dl>
<dt><span class="chapter"><a href="core-api.html">Core API</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-blob.html">hb-blob</a></span><span class="refpurpose"> — Binary data containers</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-buffer.html">hb-buffer</a></span><span class="refpurpose"> — Input and output buffers</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-common.html">hb-common</a></span><span class="refpurpose"> — Common data types</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-draw.html">hb-draw</a></span><span class="refpurpose"> — Glyph drawing</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-deprecated.html">hb-deprecated</a></span><span class="refpurpose"> — Deprecated API</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-face.html">hb-face</a></span><span class="refpurpose"> — Font face objects</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-font.html">hb-font</a></span><span class="refpurpose"> — Font objects</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-map.html">hb-map</a></span><span class="refpurpose"> — Object representing integer to integer mapping</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-set.html">hb-set</a></span><span class="refpurpose"> — Objects representing a set of integers</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-shape-plan.html">hb-shape-plan</a></span><span class="refpurpose"> — Object representing a shaping plan</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-shape.html">hb-shape</a></span><span class="refpurpose"> — Conversion of text strings into positioned glyphs</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-unicode.html">hb-unicode</a></span><span class="refpurpose"> — Unicode character property access</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-version.html">hb-version</a></span><span class="refpurpose"> — Information about the version of HarfBuzz in use</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="opentype-api.html">OpenType API</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-color.html">hb-ot-color</a></span><span class="refpurpose"> — OpenType Color Fonts</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-font.html">hb-ot-font</a></span><span class="refpurpose"> — OpenType font implementation</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-layout.html">hb-ot-layout</a></span><span class="refpurpose"> — OpenType Layout</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-math.html">hb-ot-math</a></span><span class="refpurpose"> — OpenType Math information</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-meta.html">hb-ot-meta</a></span><span class="refpurpose"> — OpenType Metadata</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-metrics.html">hb-ot-metrics</a></span><span class="refpurpose"> — OpenType Metrics</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-name.html">hb-ot-name</a></span><span class="refpurpose"> — OpenType font name information</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-shape.html">hb-ot-shape</a></span><span class="refpurpose"> — OpenType shaping support</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ot-var.html">hb-ot-var</a></span><span class="refpurpose"> — OpenType Font Variations</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="apple-advanced-typography-api.html">Apple Advanced Typography API</a></span></dt>
<dd><dl><dt>
<span class="refentrytitle"><a href="harfbuzz-hb-aat-layout.html">hb-aat-layout</a></span><span class="refpurpose"> — Apple Advanced Typography Layout</span>
</dt></dl></dd>
<dt><span class="chapter"><a href="integration-api.html">Integration API</a></span></dt>
<dd><dl>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-coretext.html">hb-coretext</a></span><span class="refpurpose"> — CoreText integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-ft.html">hb-ft</a></span><span class="refpurpose"> — FreeType integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-glib.html">hb-glib</a></span><span class="refpurpose"> — GLib integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-graphite2.html">hb-graphite2</a></span><span class="refpurpose"> — Graphite2 integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-icu.html">hb-icu</a></span><span class="refpurpose"> — ICU integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-uniscribe.html">hb-uniscribe</a></span><span class="refpurpose"> — Windows integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-gdi.html">hb-gdi</a></span><span class="refpurpose"> — GDI integration</span>
</dt>
<dt>
<span class="refentrytitle"><a href="harfbuzz-hb-directwrite.html">hb-directwrite</a></span><span class="refpurpose"> — DirectWrite integration</span>
</dt>
</dl></dd>
<dt><span class="chapter"><a href="style-api.html">Style API</a></span></dt>
<dd><dl><dt>
<span class="refentrytitle"><a href="harfbuzz-hb-style.html">hb-style</a></span><span class="refpurpose"> — Font Styles</span>
</dt></dl></dd>
<dt><span class="chapter"><a href="subset-api.html">Subset API</a></span></dt>
<dd><dl><dt>
<span class="refentrytitle"><a href="harfbuzz-hb-subset.html">hb-subset</a></span><span class="refpurpose"> — Subsets font files.</span>
</dt></dl></dd>
<dt><span class="index"><a href="api-index-full.html">API Index</a></span></dt>
<dt><span class="index"><a href="deprecated-api-index.html">Index of deprecated API</a></span></dt>
<dt><span class="index"><a href="api-index-6-0-0.html">Index of new symbols in 6.0.0</a></span></dt>
<dt><span class="index"><a href="api-index-5-3-0.html">Index of new symbols in 5.3.0</a></span></dt>
<dt><span class="index"><a href="api-index-5-0-0.html">Index of new symbols in 5.0.0</a></span></dt>
<dt><span class="index"><a href="api-index-4-4-0.html">Index of new symbols in 4.4.0</a></span></dt>
<dt><span class="index"><a href="api-index-4-3-0.html">Index of new symbols in 4.3.0</a></span></dt>
<dt><span class="index"><a href="api-index-4-2-0.html">Index of new symbols in 4.2.0</a></span></dt>
<dt><span class="index"><a href="api-index-4-1-0.html">Index of new symbols in 4.1.0</a></span></dt>
<dt><span class="index"><a href="api-index-4-0-0.html">Index of new symbols in 4.0.0</a></span></dt>
<dt><span class="index"><a href="api-index-3-4-0.html">Index of new symbols in 3.4.0</a></span></dt>
<dt><span class="index"><a href="api-index-3-3-0.html">Index of new symbols in 3.3.0</a></span></dt>
<dt><span class="index"><a href="api-index-3-1-0.html">Index of new symbols in 3.1.0</a></span></dt>
<dt><span class="index"><a href="api-index-3-0-0.html">Index of new symbols in 3.0.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-9-1.html">Index of new symbols in 2.9.1</a></span></dt>
<dt><span class="index"><a href="api-index-2-9-0.html">Index of new symbols in 2.9.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-8-2.html">Index of new symbols in 2.8.2</a></span></dt>
<dt><span class="index"><a href="api-index-2-7-3.html">Index of new symbols in 2.7.3</a></span></dt>
<dt><span class="index"><a href="api-index-2-6-8.html">Index of new symbols in 2.6.8</a></span></dt>
<dt><span class="index"><a href="api-index-2-6-5.html">Index of new symbols in 2.6.5</a></span></dt>
<dt><span class="index"><a href="api-index-2-6-3.html">Index of new symbols in 2.6.3</a></span></dt>
<dt><span class="index"><a href="api-index-2-6-0.html">Index of new symbols in 2.6.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-5-0.html">Index of new symbols in 2.5.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-4-0.html">Index of new symbols in 2.4.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-3-0.html">Index of new symbols in 2.3.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-2-0.html">Index of new symbols in 2.2.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-1-0.html">Index of new symbols in 2.1.0</a></span></dt>
<dt><span class="index"><a href="api-index-2-0-0.html">Index of new symbols in 2.0.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-9-0.html">Index of new symbols in 1.9.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-8-6.html">Index of new symbols in 1.8.6</a></span></dt>
<dt><span class="index"><a href="api-index-1-8-5.html">Index of new symbols in 1.8.5</a></span></dt>
<dt><span class="index"><a href="api-index-1-8-1.html">Index of new symbols in 1.8.1</a></span></dt>
<dt><span class="index"><a href="api-index-1-8-0.html">Index of new symbols in 1.8.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-7-7.html">Index of new symbols in 1.7.7</a></span></dt>
<dt><span class="index"><a href="api-index-1-7-2.html">Index of new symbols in 1.7.2</a></span></dt>
<dt><span class="index"><a href="api-index-1-6-0.html">Index of new symbols in 1.6.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-5-0.html">Index of new symbols in 1.5.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-4-3.html">Index of new symbols in 1.4.3</a></span></dt>
<dt><span class="index"><a href="api-index-1-4-2.html">Index of new symbols in 1.4.2</a></span></dt>
<dt><span class="index"><a href="api-index-1-4-0.html">Index of new symbols in 1.4.0</a></span></dt>
<dt><span class="index"><a href="api-index-1-3-3.html">Index of new symbols in 1.3.3</a></span></dt>
<dt><span class="index"><a href="api-index-1-2-3.html">Index of new symbols in 1.2.3</a></span></dt>
<dt><span class="index"><a href="api-index-1-1-3.html">Index of new symbols in 1.1.3</a></span></dt>
<dt><span class="index"><a href="api-index-1-1-2.html">Index of new symbols in 1.1.2</a></span></dt>
<dt><span class="index"><a href="api-index-1-0-5.html">Index of new symbols in 1.0.5</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-42.html">Index of new symbols in 0.9.42</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-41.html">Index of new symbols in 0.9.41</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-39.html">Index of new symbols in 0.9.39</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-38.html">Index of new symbols in 0.9.38</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-33.html">Index of new symbols in 0.9.33</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-31.html">Index of new symbols in 0.9.31</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-30.html">Index of new symbols in 0.9.30</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-28.html">Index of new symbols in 0.9.28</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-26.html">Index of new symbols in 0.9.26</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-22.html">Index of new symbols in 0.9.22</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-21.html">Index of new symbols in 0.9.21</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-20.html">Index of new symbols in 0.9.20</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-11.html">Index of new symbols in 0.9.11</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-10.html">Index of new symbols in 0.9.10</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-8.html">Index of new symbols in 0.9.8</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-7.html">Index of new symbols in 0.9.7</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-5.html">Index of new symbols in 0.9.5</a></span></dt>
<dt><span class="index"><a href="api-index-0-9-2.html">Index of new symbols in 0.9.2</a></span></dt>
<dt><span class="index"><a href="api-index-0-6-0.html">Index of new symbols in 0.6.0</a></span></dt>
<dt><span class="glossary"><a href="annotation-glossary.html">Annotation Glossary</a></span></dt>
</dl></dd>
</dl></div>
<div class="note">
<p>
      The current HarfBuzz codebase is versioned 2.x.x and is stable
      and under active maintenance. This is what is used in latest
      versions of Firefox, GNOME, ChromeOS, Chrome, LibreOffice,
      XeTeX, Android, and KDE, among other places.
    </p>
<p>
      Prior to 2012, the original HarfBuzz codebase (which, these days, is
      referred to as <span class="emphasis"><em>harfbuzz-old</em></span>) was derived from code
      in <a class="ulink" href="http://freetype.org/" target="_top">FreeType</a>,
      <a class="ulink" href="http://pango.org/" target="_top">Pango</a>, and
      <a class="ulink" href="http://qt-project.org/" target="_top">Qt</a>.
      It is <span class="emphasis"><em>not</em></span> actively developed or  maintained, and is
      extremely buggy. All users of harfbuzz-old are encouraged to switch over
      to the new HarfBuzz as soon as possible.
    </p>
<p>
      To make this distinction clearer in discussions, the current HarfBuzz
      codebase is sometimes referred to as <span class="emphasis"><em>harfbuzz-ng</em></span>.
    </p>
<p>
      For reference purposes, the harfbuzz-old source tree is archived
      <a class="ulink" href="http://cgit.freedesktop.org/harfbuzz.old/" target="_top">here</a>.
      There are no release tarballs of harfbuzz-old whatsoever.
    </p>
</div>
</div>
<div class="footer">
<hr>Generated by GTK-Doc V1.32</div>
</body>
</html>